<% title "xIVR Dispatcher" %>

<%= form_tag endpoints_path, :method => 'get', :id => "endpoints_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  <div id="endpoints"><%= render "endpoints" %></div>
<% end %>

<p><%= link_to "New Endpoint", new_endpoint_path %></p>